.contents.row
  = form_for @post do |f|
    %h2 本文
    .form-group
      = f.text_field :price, placeholder: "金額", class: "form-control"
      = f.check_box :category, placeholder: "カテゴリ", class: "form-control"
      = f.check_box :mental, placeholder: "メンタル", class: "form-control"
      %label
        = f.radio_button :mental, "Good"
        Good
      %label
        = f.radio_button :mental, "Normal"
        Normal
      %label
        = f.radio_button :mental, "Bad"
        Bad
      = f.text_area :memo, placeholder: "メモ", class: "form-control"
      = f.submit "送信", class: "btn btn-primary withripple"
