.content
  .left
    .title.person
      = current_user.name
      の支出
    .posts
      - @my_posts.each do |post|
        .post
          .post__top 
            .post__top--list.edit= link_to "編集", "/posts/#{post.id}/edit", method: :get, class:".btn"
            .post__top--list.delete= link_to "削除", "/posts/#{post.id}", method: :delete, class:".btn",data:{confirm:"ok"}

          .post__element.icon
            %i.material-icons.large-size
              =post.category
          .post__element.amount¥
          .post__element.pay
            = post.price.to_s(:delimited)
          .post__element.face
            %i.material-icons.large-size
              =post.mental
          .post__element.date= post.created_at.strftime("%F")

  .my-detail
    .pie_chart=pie_chart @data_category , width: "800px", height: "300px", thousands: ","
    
    .line
    
    .bar_chart=bar_chart @data_mental , width: "600px", height: "300px"
    
    -# =bar_chart @data_day, width: "800px", height: "300px"


    %canvas#myChart{:height => "400", :width => "900"}
    :javascript
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ["値段","値段","値段","値段"],
              datasets: [{
                  label: "サンプル",
                  data: [ 10000,20000,13000,20000 ],
                  backgroundColor: 'rgba(255, 99, 132, 1.0)',
                  borderColor: 'rgba(255, 50, 132, 1.0)',
                  fill: false
              }]
          },
          options: {
              title:  {
                display: true,
                text: "タイトル"
              }
          }
      });

