.content
  .left
    .title.person
      = current_user.name
      の支出
    .posts
      - @my_posts.each do |post|
        .post
          .post__top 
            .post__top--list.edit= link_to "編集", "/posts/#{post.id}/edit", method: :get, class:".btn"
            .post__top--list.delete= link_to "削除", "/posts/#{post.id}", method: :delete, class:".btn",data:{confirm:"ok"}
            .post__top--list.fa-plus あああ
            #overlay1
            #modalWindow1
              %p.modal--content 満足ですか？
              %button#close1 Close

          .post__element.icon
            %i.material-icons.large-size
              =post.category
          .post__element.amount¥
          .post__element.pay
            = post.price.to_s(:delimited)
          .post__element.face
            %i.material-icons.large-size
              =post.mental
          .post__element.date= post.created_at.strftime("%F")

  .center
    .title.all みんなの支出
    .posts
      - @other_posts.each do |post|
        .post
          .post__top--other= post.user&.name
          .post__element.icon
            %i.material-icons.large-size=post.category
          .post__element.amount¥
          .post__element.pay= post.price.to_s(:delimited)
          .post__element.face
            %i.material-icons.large-size=post.mental
          .post__element.date= post.created_at.strftime("%F")

  .right
    .title.detail 詳細
    .posts
      .this-month
        今月の出費
        .this-month__yen
          ¥
          .this-month__costs=@sum.to_s(:delimited)
      .line
      .details
        .details--material
          %i.material-icons.large-size.icon restaurant
          .details--material--font 食費
          .details--material--price="¥"+@food.to_s(:delimited)
          

        .details--material
          %i.material-icons.large-size shopping_cart
          .details--material--font 日用品
          .details--material--price="¥"+@cart.to_s(:delimited)


      .details
        .details--material
          %i.material-icons.large-size train
          .details--material--font 交通費
          .details--material--price="¥"+@train.to_s(:delimited)

        .details--material
          %i.material-icons.large-size import_contacts
          .details--material--font 書籍
          .details--material--price="¥"+@import_contacts.to_s(:delimited)

      .details
        .details--material
          %i.material-icons.large-size card_travel
          .details--material--font ファッション
          .details--material--price="¥"+@card_travel.to_s(:delimited)

        .details--material 
          %i.material-icons.large-size directions_bike
          .details--material--font 趣味・娯楽
          .details--material--price="¥"+@bikes.to_s(:delimited)

      .details
        .details--material
          %i.material-icons.large-size payment
          .details--material--font カード支払
          .details--material--price="¥"+@payment.to_s(:delimited)

        .details--material  
          %i.material-icons.large-size star
          .details--material--font その他
          .details--material--price="¥"+@star.to_s(:delimited)

  .footer
    .notifications
      - flash.each do |key, value|
        = content_tag(:div, value, class: key)
