.post-form
  %h2 入力フォーム
  = form_for @post do |f|
    .form-group
      .form-group__category
        %label
          %i.material-icons.large-size restaurant
          食費
          = f.radio_button :category, "食費" , class: "form-category"
        %label
          %i.material-icons.large-size shopping_cart
          日用品
          = f.radio_button :category, "日用品" , class: "form-category"
        %label
          %i.material-icons.large-size train
          交通費
          = f.radio_button :category, "交通費" , class: "form-category"
        %label
          %i.material-icons.large-size import_contacts
          書籍
          = f.radio_button :category, "書籍" , class: "form-category"
        %br 
        %label
          %i.material-icons.large-size card_travel
          ファッション
          = f.radio_button :category, "ファッション" , class: "form-category"
        %label
          %i.material-icons.large-size directions_bike
          趣味・娯楽
          = f.radio_button :category, "趣味・娯楽" , class: "form-category"
        %label
          %i.material-icons.large-size payment
          カード支払
          = f.radio_button :category, "カード支払" , class: "form-category"
        %label
          %i.material-icons.large-size star
          その他
          = f.radio_button :category, "その他" , class: "form-category"
      .form-group__price
        = f.text_field :price, placeholder: "金額", class: "form-price"
      .form-group__mental
        %label
          %i.material-icons.large-size.blue sentiment_very_satisfied
          満足
          = f.radio_button :mental, "Good"
        %label
          %i.material-icons.large-size.green sentiment_neutral
          必要
          = f.radio_button :mental, "Normal"
        %label
          %i.material-icons.large-size.red sentiment_very_dissatisfied
          不本意
          = f.radio_button :mental, "Bad"
      .form-group__memo
        = f.text_area :memo, placeholder: "メモ" ,size: "30x3"
      = f.submit "送信", class: "btn btn-primary withripple"
