!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyProduct
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}/
  %body
    %nav.header
      %a.header__logo{href: "/posts"} みんなの家計簿
      %a.header__logo.help
        .material-icons.top-page live_help
      #overlay
      #modalWindow
        %p.modal--title みんなの家計簿とは？
        %p.modal--content 支出と気持ちを共有する、エモーショナルな家計簿アプリです。
        %p.modal--content その買い物に？
        .modalWindow-category
          %i.modal.material-icons.large-size restaurant
          %i.modal.material-icons.large-size shopping_cart
          %i.modal.material-icons.large-size train
          %i.modal.material-icons.large-size import_contacts
          %i.modal.material-icons.large-size card_travel
          %i.modal.material-icons.large-size directions_bike
          %i.modal.material-icons.large-size payment
        %p.modal--content 満足ですか？
        .modalWindow-icon
          %i.modal.material-icons.large-size.blue sentiment_very_satisfied
          %i.modal.material-icons.large-size.green sentiment_neutral
          %i.modal.material-icons.large-size.red sentiment_very_dissatisfied  
        %button#close Close

      %ul.header__list
        - if user_signed_in?
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li
            %a.post{href: "/users/#{current_user.id}"} マイページ
          %li.header__list--avatar
            %a.image=image_tag current_user.avatar,size: "50x50"
          %li
            %a.post{href: "/posts/new"} 入力する
            .dropdown=current_user.email
        - else
          %li
            = link_to "ログイン", new_user_session_path, class: 'post'
          %li
            = link_to "新規登録", new_user_registration_path, class: 'post'
    = yield
