!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyProduct
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}/
  %body
    %nav.header
      %a.header__logo{href: "/posts"} 家計簿
      %ul.header__list
        - if user_signed_in?
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li
            %a.post{href: "/posts/new"} 入力する
          %li
            %a.post{href: "/users/#{current_user.id}"} マイページ
        - else
          %li
            = link_to "ログイン", new_user_session_path, class: 'post'
          %li
            = link_to "新規登録", new_user_registration_path, class: 'post'
    = yield
