<!DOCTYPE html>
<html>
  <head>
    <title>MyProduct</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header">
      <a href="" class="header__logo">家計簿</a>
      <ul class='header__list'>
        <li><a href="" >入力する</a></li>
        <li><a href="" >ログイン</a></li>
      </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
