!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyProduct
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body
    %nav.header
      %a.header__logo{href: ""} 家計簿
      %ul.header__list
        %li
          %a{href: ""} ログイン
        %li
          %a{href: ""} Edit
        %li
          %a{href: ""} 入力する
    = yield
